<% if (typeof question !== 'undefined' && question.length > 0) { %> 
		<h1> 
			Question <%= question %> 
		</h1>
	<% }%>


	<% if (typeof corans !== 'undefined' && corans.length > 0) { %>
		<input type="submit" id="corans" value="<%= corans%>">
	<% } %>

	<% if (typeof ans1 !== 'undefined' && ans1.length > 0) { %>
		<input type="submit" class="ans" value="<%= ans1 %>" id="ans1">
	<% } %>

	<% if (typeof ans2 !== 'undefined' && ans2.length > 0) { %>
		<input type="submit" class="ans" value="<%= ans2 %>" id="ans2">
	<% } %>

	<% if (typeof ans3 !== 'undefined' && ans3.length > 0) { %>
		<input type="submit" class="ans" value="<%= ans3 %>" id="ans2">
	<% } %>
<br>
<% if (typeof hint !== 'undefined' && hint.length > 0) { %> 
		<h1> 
			<%= hint %> 
		</h1>
	<% }%>
