<% if (typeof question !== 'undefined' && question.length > 0) { %> 
		<h1> 
			Question <%= question %>
		</h1>
	<% }%>


	<% if (typeof corans !== 'undefined' && corans.length > 0) { %>
		<button type="submit" class="btn theme-btn" id="corans"><%= corans%></button>
	<% } %>

	<% if (typeof ans1 !== 'undefined' && ans1.length > 0) { %>
		<button type="submit" class="ans btn theme-btn" id="ans1"><%= ans1 %></button>
	<% } %>

	<% if (typeof ans2 !== 'undefined' && ans2.length > 0) { %>
		<button type="submit" class="ans btn theme-btn"  id="ans2"><%= ans2 %></button>
	<% } %>

	<% if (typeof ans3 !== 'undefined' && ans3.length > 0) { %>
		<button type="submit" class="ans btn theme-btn" id="ans2"><%= ans3 %></button>
	<% } %>
	<br>
	<% if (typeof hint !== 'undefined' && hint.length > 0) { %> 
		<h1> 
			<%= hint %> 
		</h1>
	<% }%>
